<!DOCTYPE html>
<html lang="ru">
{% load static %}
    <head>
        {% block extra_css %}
        {% endblock %}
        <link href='{% static "css/base.css" %}' rel="stylesheet">
        <link href='{% static "css/header.css" %}' rel="stylesheet">
        <link href='{% static "css/footer.css" %}' rel="stylesheet">
        <title>{{ pagename }}</title>
    </head>

    <body>
        {% include "base/header.html" %}
        <main>
            {% block content %}
            {% endblock %}
        </main>
        {% include "base/footer.html" %}

        {% block extra_js %}
        {% endblock %}
    </body>
</html>
