.content{
    display: flex;
    justify-content: center;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.row-item{
    height: 90px;
    width: 250px;
    background-color: #297CC2;
    margin: 20px;
    text-align: center;
    color: white;
    border-radius: 10px;
}
.plan_text{
    color: #c4c4c4;
    margin-top: -10px;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3px;
    height: 30px;
    width: 150px;
    background-color: #2D3943;
    border-radius: 5px;
}
.flex-container{
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
    color: white;
}
.button img{
    height: 18px;
    width: 18px;
    margin-right: 3px;
}
h1{
    margin-top: 30px;
    color: #297CC2;
    text-align: center;
    font-size: 40px;
}
.create_button{
    margin: 0 auto;
    height:50px;
    width: 100px;
    position: relative;
    left: 360px;
}
.create_button a{
    height:50px;
    width: 100px;
    display: flex;
    justify-content: center;
    background-color: green;
    color:white;
    text-align: center;
    align-items: center;
    border-radius: 10px;
}